/*  a los selectores los llamammos directamente con el nombre, ejm: footer {}  
y a las clases las llamamos con el punto, ejm: .header {}*/

.enlaceProyecto a:link {
    color: #A248A2;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 280px;
    height: 64px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 1250px;
    height: 40px;
    background: #9D469D;
    border-radius: 10px;
}


/*pseudo class: para cambiar el color de los buttones cuando hacemos click*/

.menu button:hover {
    color: #c4a4c4;
}

.buttonNav {
    background-color: #9D469D;
    border: none;
    color: white;
    font-size: 19px;
    margin-top: 8px;
    outline: none;
}

.buttonNavActive {
    background-color: #9D469D;
    border: none;
    color: #ffffff;
    font-size: 19px;
    text-shadow: 0 0 5px rgb(243, 102, 208), 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    margin-top: 8px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A248A2;
    border-radius: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 15px;
    position: fixed;
}

.contact {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.instagramImg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    filter: invert();
}

/*página Our Team*/

.integrante1 {
    display: flex;
    align-content: center;
}

.integrante2 {
    display:flex;
    align-content: center;
    justify-content: flex-end;
}

.integrante3 {
    display:flex;
    align-content: center;
}

.integrante4 {
    display:flex;
    align-content: center;
    justify-content: flex-end;
}

.integrante5 {
    display:flex;
    align-content: center;
    margin-bottom: 100px;
}

.textosIntegrantes {
    width: 450px;
    margin-top: 50px;
    text-align: justify;
}

.nombresIntegrantes {    
    font-family: Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    color: #A248A2;
}

.cvsintegrantes {
    font-family: Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    color: #000000;
}