/* Apartado de home */

.mainHome {
    display: flex;
    justify-content: center;
    align-items: center;
          
}

.homeContainerFather {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1250px;
    justify-content: center;

}

.homeContainerSonImage {
    display: flex;
    align-content: center;
    align-items: center;
       
}

.homeContainerSonText {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.homeImg {
    width: 625px;
    height: 360px;
}

.homeText {
    
    width: 505px;
    font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
    
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}